/*Reset*/
img {
	width: 100%;
	height: auto;
	display: block;
}

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select {
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym {
	border-bottom: .1em dotted;
	cursor: help;
}


/*Fonts*/
@font-face {
	font-family:"Swiss721";
	font-weight: 800;
	src:url("../pages/fonts/aa898871-4566-469b-b50a-5d85c39eebb5.eot?#iefix");
	src:url("../pages/fonts/aa898871-4566-469b-b50a-5d85c39eebb5.eot?#iefix") format("eot"),url("../pages/fonts/3b2dd9df-ad0b-4e08-8a3c-f26b89598db6.woff2") format("woff2"),url("../pages/fonts/3b500e51-91e9-44af-8c6f-52ee81e157bc.woff") format("woff"),url("../pages/fonts/efe8f093-554e-4ade-9d73-0a0ccea95bb3.ttf") format("truetype"),url("../pages/fonts/02ccb762-e8c9-47d9-90fc-517de3554eb3.svg") format("svg");
}

@font-face{
	font-family:"HelveticaMonospaced";
	src:url("../pages/fonts/87f6a1c1-d634-4755-be60-566164ea2dc4.eot?#iefix");
	src:url("../pages/fonts/87f6a1c1-d634-4755-be60-566164ea2dc4.eot?#iefix") format("eot"),url("../pages/fonts/9d82d212-4c22-4991-8c6d-3c4e521c0351.woff2") format("woff2"),url("../pages/fonts/bb9c8441-1fde-4ac4-aa47-c866378b30f6.woff") format("woff"),url("../pages/fonts/a8b10911-4e7a-4536-b925-3684e4014a42.ttf") format("truetype"),url("../pages/fonts/27aa95f2-938d-43aa-8d23-d3cd6316c460.svg") format("svg");
}

@font-face {
	font-family:"Sabon";
	src:url("../pages/fonts/d30018fa-c2be-4921-a779-0a9b8db54fe7.eot?#iefix");
	src:url("../pages/fonts/d30018fa-c2be-4921-a779-0a9b8db54fe7.eot?#iefix") format("eot"),url("../pages/fonts/17ca8435-8c30-45f1-9c59-a7f27b7905f1.woff2") format("woff2"),url("../pages/fonts/d93bebe4-cefa-455e-8b51-eaae50be173e.woff") format("woff"),url("../pages/fonts/7849e7c1-08a0-4e13-a6cd-d2900c236af5.ttf") format("truetype"),url("../pages/fonts/d1246e5a-1d35-4bc9-b785-d05e0408a757.svg") format("svg");
}


/*General*/
html {
	box-sizing: border-box;
	background: #000;
}

body {
	background: #f9f9f9;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.link:focus {
	outline: none;
}

html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

/*Typography*/
body {
  font-family: "HelveticaMonospaced", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  font-size: 20px;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.sans-serif {
	font-family: "HelveticaMonospaced", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.sans-serif-heading {
	font-family: "Swiss721", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	font-weight: 800;
	letter-spacing: -.025em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 400;
}

p, .serif {
	font-family: "Sabon", georgia, "Times";
}

a, .link {
	transition: all .1s ease-in !important;
}

.link.bb:hover {
	border-color: #fff;
}


/*Utilities*/

@media (min-width: 60em) {
	.flex-row-reverse-l {
    flex-direction: row-reverse;
	}
	.brn-l {
		border-right: 0;
	}
}

@media (max-width: 60em) {
	.vh-50-sm {
		height: 50vh;
		min-height: 400px;
	}
}

.mw9 {
	max-width: 1200px;
	max-width: 75rem;
}

.lh-title {
	line-height: 1.1;
}

.outline {
	outline: 0;
	border-color: transparent;
}

.outline:hover {
	border: 1px solid #000;
}

.flex-grow {
	flex-grow: 1;
}

@media (max-width: 30em) {
	.outline.outline-mobile {
		border-color: #000;
	}

	.flex-wrap-sm {
		flex-wrap: wrap;
	}
}

.visually-hidden {
	position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

hr {
  border: none;
	height: 1px;
	background: #000;
  margin-bottom: 0;
  margin-top: 0;
}

.ml-auto {
	margin-left: auto;
}

/*Animations*/
.fade {
	animation: fade .2s;
}

@keyframes fade {
	0% {
		opacity:.5;
		transform: translateX(-5px);
	}
	100% {
		opacity:1;
		transform: translateX(0);
	}
}

.fade-down {
	animation: fade-down .3s;
	animation-timing-function: ease-in;
}

@keyframes fade-down {
	0% {
		opacity:0;
		transform: translateY(-20px);
	}
	100% {
		opacity:1;
		transform: translateY(0);
	}
}

.fade-in {
	opacity: 0;
	animation: fade-in .5s forwards;
	animation-delay: .25s;
	animation-timing-function: ease-in;
}

@keyframes fade-in {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.shake {
	animation: shake 1.5s infinite;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes shake {
	0% { -webkit-transform: translate(0, 0) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(0, 0) rotate(0); }
}


/*Header*/
.logo {
	left: 0;
	top:-.075em;
}

.about-link {
  right: 0;
	top:-.2em;
	transition: all .1s ease-in;
	width: 28px;
	height: 28px;
}

.about-link span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.about-link:focus {
	background: transparent;
}

@media (min-width: 30em) {
	.logo {
		top: inherit;
	}

	.about-link {
		top: inherit;
	}
}

@media (min-width: 60em) {
	.about-link {
	  right: calc(-35px + -14px);
	}

	.logo {
		left: -65px;
	}
}

/*Project General*/
.project-title {
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}

.project-title:hover {
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
	color: #fff;
}

.project-role, .project-client {
	padding-left: 1.4em;
}

.project-role:before, .project-client:before {
	display: inline-block;
	position: absolute;
	top: .3em;
	left: 0;
	content: "";
	width: .8em;
	height: .8em;
	border: 1px solid #000;
	margin-right: .35em;
}

.project-client:before {
	border-radius: 50%;
}

.project-link span {
	position: relative;
	top: .12em;
}

/*Project List*/
.project-list-item:first-child .project-image img {
	border-top: 1px solid #000;
	box-shadow: none;
}

.project-image img {
	transition: all .1s ease-in;
	box-shadow: 0 -1px 0 #000;
}

.project-image:hover img {
	transform: translate(-5px, -5px);
}

@media (min-width: 60em) {
	.project-details .f-subheadline-l {
		font-size: 4.5vw;
	}

	.project-list-item:first-child .project-details {
		border-top: 1px solid #000;
	}
}

@media (min-width: 1440px) {
	.project-details .f-subheadline-l {
		font-size: 68px;
	}
}

/*Project Page*/
.project-header-image {
	max-height: 600px;
	min-height: 400px;
}

.project-image--left, .project-image--right {
	width: calc(50% - .75em);
	float: left;
}

.project-image--right {
	float: right;
}

.markdown-content img {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.markdown-content img:first-child {
	border-top: 1px solid #000;
}


.next-project:focus {
	background: transparent;
}

.next-project:focus:hover {
	background: #fff;
}


/*About Home*/
@media (min-width: 60em) {
	.head-l {
		max-width: 12rem;
	}
}


/*Footer*/
.footer-logo {
	left: 0;
	margin-top: .25em;
}

@media (min-width: 60em) {
	.footer-logo {
		left: -65px;
		margin-top: .5em;
	}
}
